html {
	scroll-behavior: smooth;
	background-color: var(--page-bg);
}

body {
	background-color: var(--page-bg);
	color: var(--main-color);
	font-family: var(--font-main);
	text-wrap: balance;

	&.loaded {
		overflow: unset;
		height: auto;
	}
}

img {
	display: block;
}

a {
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);

	// max-width: calc(1720px + 2 * var(--container-padding));
	width: 100%;
}
