/* Reset and base styles  */
.main * {
	padding: 0px;
	margin: 0px;
	border: none;
}

.main *,
.main *::before,
.main *::after {
	box-sizing: border-box;
}

/* Links */

.main a,
.main a:link,
.main a:visited {
	text-decoration: none;
}

.main a:hover {
	text-decoration: none;
}

/* Common */

.main aside,
.main nav,
.main footer,
.main header,
.main section,
.main main {
	display: block;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
.main p {
	font-size: inherit;
	font-weight: inherit;
}

.main ul,
.main ul li {
	list-style: none;
}

.main img {
	vertical-align: top;
}

.main img,
.main svg {
	max-width: 100%;
	height: auto;
}

.main address {
	font-style: normal;
}

/* Form */

.main input,
.main textarea,
.main button,
.main select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

.main input::-ms-clear {
	display: none;
}

.main button,
.main input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

.main input:focus,
.main input:active,
.main button:focus,
.main button:active {
	outline: none;
}

.main button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.main label {
	cursor: pointer;
}

.main legend {
	display: block;
}
