:root {
	// title sizes
	--title-size-sm: 10px;
	--title-size-md: 20px;
	--title-size-lg: 30px;

	@include desktop() {
		--title-size-sm: 20px;
		--title-size-md: 30px;
		--title-size-lg: 40px;
	}

	@include ultrahd() {
		--title-size-sm: 30px;
		--title-size-md: 40px;
		--title-size-lg: 50px;
	}

	// text sizes
	--text-size-sm: 10px;
	--text-size-md: 20px;
	--text-size-lg: 30px;

	@include desktop() {
		--text-size-sm: 20px;
		--text-size-md: 30px;
		--text-size-lg: 40px;
	}

	@include ultrahd() {
		--text-size-sm: 30px;
		--text-size-md: 40px;
		--text-size-lg: 50px;
	}

	// line height
	--text-line-height-sm: 100%;
	--text-line-height-md: 135%;
	--text-line-height-lg: 150%;

	// letter spacing
	--letter-spacing: 0.02em;
	--letter-spacing-accent: 0;
}

// title styles
.title {
	font-weight: 500;
	line-height: var(--text-line-height-md);

	&_sm {
		font-size: var(--title-size-sm);
	}

	&_md {
		font-size: var(--title-size-md);
	}

	&_lg {
		font-size: var(--title-size-lg);
	}
}

// text styles
.text {
	line-height: var(--text-line-height-md);
	&_sm {
		font-size: var(--text-size-sm);
	}

	&_md {
		font-size: var(--text-size-md);
	}

	&_lg {
		font-size: var(--text-size-lg);
	}
}
