:root {
	--container-padding: 20px;
	@include desktop {
		--container-padding: 40px;
	}
	@include ultrahd {
		--container-padding: 100px;
	}

	// font family
	--font-main: '', sans-serif;
	--font-secondary: '', sans-serif;

	// bg color
	--page-bg: black;
	--primary-bg: grey;
	--accent-bg: white;

	// text color
	--main-color: black;
	--primary-color: yellow;
	--accent-color: pink;

	// graphics color
	--graphics-main: green;
	--graphics-primary: blue;
	--graphics-accent: white;

	// inner indent
	--space-sm: 10px;
	--space-md: 20px;
	--space-lg: 40px;

	// outer indent
	--space-section-sm: 100px;
	--space-section-md: 200px;
	--space-section-lg: 250px;
}
